<div class="container-main">
  <br />
  <!--  <button class="btn btn-primary" (click)="getChequeosInServer()">
    Actualizar chequeos
  </button> -->
  <hr />

  <div class="card" *ngFor="let chequeo of chequeos">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">chequeo #{{ chequeo.id }}</h6>

      <p class="containerTags">
        <span class="badge categori rounded-pill"
          >Categori:
          {{
            chequeo.departamento.id +
              " " +
              chequeo.seccion.id +
              " " +
              chequeo.familia.id +
              " " +
              chequeo.subFamilia.id
          }}</span
        >

        <span class="badge rounded-pill">{{
          chequeo.departamento.descripcion | titlecase
        }}</span>

        <span class="badge rounded-pill">{{
          chequeo.seccion.descripcion | titlecase
        }}</span>

        <span class="badge rounded-pill">{{
          chequeo.familia.descripcion | titlecase
        }}</span>

        <span class="badge rounded-pill">{{
          chequeo.subFamilia.descripcion | titlecase
        }}</span>
      </p>

      <div class="row">
        <div class="col">
          <a class="card-link green" routerLink="/chequeos/chequeo"
            >Realizar chequeo</a
          >
          <a class="card-link">Cargar chequeo</a>
        </div>
      </div>
    </div>
  </div>

  <br />
</div>
